* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

body {
    --site-width: 1200px;
    --navbar-width: 720px;
    --navbar-height: 200px;
    --footer-height: 260px;

    --background-main-color: #ffffff;
    --background-secondary-color: #f7f7f7;

    --text-main-color: #353738;
    --text-secondary-color: #848789;
    --text-accent-color: #ffffff;

    --accent-color: #64c29e;
    --accent-secondary-color: #52a283;

    --top-row-content-height: 800px;
    --small-row-content-height: 470px;
    --content-row-height: 600px;
    --column-content-width: 400px;

    --title-font-size: 20px;
    --normal-font-size: 17px;


    background-color: var(--background-main-color);
    min-height: 100%;
}

.Nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    max-height: var(--navbar-height);
    width: 100%;
    display: flex;
    justify-content: center;
}

.Nav-bar__container {
    max-width: var(--site-width);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Nav-bar__item {
    flex: 0 1 20%;
    color: var(--text-main-color);
    padding: 10% 0;
    font-size: var(--title-font-size);
    text-align: center;
    text-transform: uppercase;
}

.Logo {
    aspect-ratio: 1;
    max-height: 100px;
    max-width: 100px;
}

.Slogan {
    color: var(--text-secondary-color);
    padding: 40px 0;
    font-weight: 200;
}

.Title {
    text-transform: uppercase;
    padding: 12px;
    font-size: var(--title-font-size);
    color: var(--text-main-color);
}

.Text {
    padding: 12px;
    font-size: var(--normal-font-size);
    color: var(--text-secondary-color);
}

.Icon {
    height: 40px;
}

.Top-row {
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    max-height: var(--top-row-content-height);
}

.Small-row {
    height: var(--small-row-content-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Small-row__container {
    max-width: var(--site-width);

}

.Content-row {
    display: flex;
    max-height: var(--content-row-height);
}

.Content-double-column__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}

.Content-column {
    flex: 0 1 33.333%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.Content-column__small-img {
    width: 100%;
    height: 33%;
    object-fit: cover;
    object-position: 50%;
}

.Content-double-column {
    flex: 0 1 66.666%;
}

.Content-column__container {
    max-width: var(--column-content-width);
    height: 66%;
    flex: 0 1 66.666%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Content-column__big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Email-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.Email-form__email-input {
    border: none;
    width: 75%;
    padding: 0 30px;
    box-sizing: border-box;
}

.Email-form__email-input:focus {
    outline: none;
    border: 1px solid var(--text-secondary-color);
}

.Email-form__email-input:focus::placeholder {
    opacity: 0;
}

.Email-form__button {
    width: 25%;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    color: var(--text-accent-color);
}

.Email-form__button:active {
    background-color: var(--accent-secondary-color);
}

.Footer {
    background-color: var(--background-secondary-color);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
}

.Footer__container {
    max-width: calc(var(--site-width) - 10%);
    padding: 0 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer__column {
    flex: 0 1 33.333%;
}

.Footer__contacts::first-line {
    font-weight: 600;
}

.Footer__socials {
    display: flex;
    justify-content: center;
}

.Footer__socials a img {
    padding: 10px;
}

.Footer__credits {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Footer__credits p {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    body {
        --site-width: 90%;
        --navbar-width: 90%;
        --navbar-height: var(--top-row-content-height);
        --footer-height: 160px;
    
        --background-main-color: #ffffff;
        --background-secondary-color: #f7f7f7;
    
        --text-main-color: #353738;
        --text-secondary-color: #848789;
        --text-accent-color: #ffffff;
    
        --accent-color: #64c29e;
        --accent-secondary-color: #52a283;
    
        --top-row-content-height: 800px;
        --small-row-content-height: 470px;
        --content-row-height: 600px;
        --column-content-width: 400px;
    
        --title-font-size: 20px;
        --normal-font-size: 17px;
    
    
        background-color: var(--background-main-color);
        min-height: 100%;
    }

    .Nav-bar {
        max-width: 96%;
        padding: 2%;
        max-height: var(--navbar-height);
        position: unset;
    }

    .Nav-bar__item {
        padding: 0 0 5px 0 ;
    }

    .Nav-bar span {
        display: none;
    }

    .Nav-bar__container .Logo {
        order: -1;
    }

    .Nav-bar__container {
        flex-direction: column;
        justify-content: space-between;
    }

    .Content-row {
        flex-direction: column;
        max-height: none;
    }
    
    .Footer__container {
        padding: 0;
    }

    .Content-double-column {
        margin-bottom: -1%;
    }

    .Content-column__container {
        padding: 5% 0;
        height: var(--content-row-height);
    }

}